<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809015044004-2qe0fbe9r14iebp0u2basjsgs5t9vcur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809015044004-2qe0fbe9r14iebp0u2basjsgs5t9vcur</string>
	<key>API_KEY</key>
	<string>AIzaSyDqrxZIOjp68e---YVadSXQboYIDeouLHY</string>
	<key>GCM_SENDER_ID</key>
	<string>809015044004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.persimmoners.meal4u</string>
	<key>PROJECT_ID</key>
	<string>meal4u-bc86f</string>
	<key>STORAGE_BUCKET</key>
	<string>meal4u-bc86f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809015044004:ios:8a8a1cd018ae6a5c26c331</string>
</dict>
</plist>